In [20]:
import pandas as pd
df = pd.read_csv('./data/tracks_cleaned.csv')

In [38]:
df.drop_duplicates(inplace=True)

In [39]:
df.loc[df['title']== 'Every Other Freckle']

,artists,title,track_id,popularity,explicit,release_year
19687,alt-J,Every Other Freckle,6BVBkKpZK09NmifUMZqj1z,55,False,2014
27120,alt-J,Every Other Freckle,01PdqaCvij7ryXod6nbtyQ,0,False,2014
56909,alt-J,Every Other Freckle,41mxwoVT3EN4keZOHH7m7U,31,False,2014